html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-color: #111;
    color: #ddd;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #444;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-content img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    color: #fff;
}

.folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 0 10px;
}

.folder {
    flex: 1 1 calc(50% - 40px);
    max-width: 200px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.folder img {
    width: 60px;
    height: 60px;
    transition: transform 0.2s;
}

.folder:hover img {
    transform: scale(1.1);
}

#links-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.links {
    background-color: #222;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.links li {
    margin: 5px 0;
}

.links a {
    color: #e90;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    border-top: 1px solid #444;
    color: #ddd;
    font-size: 0.8em;
}