body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

header img {
    width: 250px; /* aumentei o tamanho da logo */
    height: 150px;
    margin-bottom: 1px; /* reduzi o espaço entre a logo e a barra de pesquisa */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#search-bar {
    width: 90%; /* mantive a largura da barra de pesquisa */
    height: 20px; /* reduzi a altura da barra de pesquisa */
    font-size: 14px; /* reduzi o tamanho da fonte da barra de pesquisa */
    padding: 5px; /* reduzi o padding da barra de pesquisa */
    border: 1px solid #333; /* adiciona uma borda escura */
    margin: 0 auto; /* centraliza a barra de pesquisa */
    margin-bottom: 5px; /* adiciona um pequeno espaço entre a barra de pesquisa e o botão */
}

#search-btn {
    background-color: #d0d0d0; /* alterei a cor do botão para #d0d0d0 */
    color: #000;
    border: 1px solid #333; /* adiciona uma borda escura ao botão */
    padding: 2px 8px; /* reduzi o tamanho do botão */
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto; /* centraliza o botão */
    border-radius: 3px; /* adiciona um efeito de borda redonda ao botão */
    margin-top: 5px; /* adiciona um pequeno espaço entre a barra de pesquisa e o botão */
}

#search-results {
    font-size: 14px; /* reduzi o tamanho da fonte dos links */
    margin-top: 20px;
}