.body-index {
  background-image: linear-gradient(
    to top,
    #121212,
    #222222,
    #323232,
    #434343,
    #555555
  );
  color: #f2f2f2;
  min-height: 100dvh;
  height: max-content;
}

.header {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
}

.home-title {
  text-align: center;
  font-size: 4rem;
  margin: 4rem 0;
}

.home > a {
  margin-top: 40px;
}

.home > a:before {
  content: "-> ";
}

.animation {
  width: 100%;
  height: 60px;
}

.mascot {
  width: 70px;
  position: absolute;
  animation: ghost-movement 10s ease infinite;}

.card-wrapper {
  display: flex;
  gap: 50px;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 5px;
  padding: 20px;
  border: none;
}

.card-title {
  margin-bottom: 10px;
}

.card-title::after {
  margin-left: 10px;
  content: "✔";
}

.home-button {
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .home-title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 20px;
  }
}

@keyframes ghost-movement {
  0% {
    opacity: 1;
    top: 60px;
    opacity: 0;
    left: 100px;
  }

  10% {
    opacity: 1;
    top: 20px;
    opacity: 0;
    right: 200px;
  }

  20% {
    opacity: 1;
    bottom: 300px;
    opacity: 0;
    right: 600px;
  }

  30% {
    opacity: 0;
    transform: translateY(100px) translateX(100px);
    opacity: 1;
  }

  40% {
    opacity: 1;
    bottom: 100px;
    opacity: 0;
    left: 400px;
  }

  50% {
    opacity: 0;
    transform: translateY(100px) translateX(500px);
    opacity: 1;
  }

  60% {
    opacity: 1;
    top: 50%;
    opacity: 0;
    right: 100px;
  }

  70% {
    opacity: 1;
    bottom: 20px;
    opacity: 0;
    right: 0;
    transform: translateX(-300px);
  }

  80% {
    opacity: 1;
    bottom: 10px;
    transform: translateX(-100px);
    animation-duration: 4s;
    opacity: 0;
  }

  100% {
    animation-duration: 5s;
    opacity: 1;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
