.login {
  width: 100%;
  max-width: 330px;
  background-color: #212121;
  border-radius: 5px;
  padding: 20px;
}

.login > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  border: none;
  padding: 15px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #121212;
  color: #f2f2f2;
  outline: none;
  border-radius: 5px;
}

.login-form:focus {
  outline: 2px solid #f2f2f2;
}

.login-button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 700;
  background-color: #dddddd;
  cursor: pointer;
  color: #121212;
}

.login-button:hover {
  background-color: #fff;
}
