html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBar {
    width: 350px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchBar:focus {
    border-color: #000;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 211px;
}

#searchButton, #aboutButton {
    padding: 2px 8px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
    background-color: #d0d0d0;
    color: black;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #b0b0b0;
}

#aboutButton {
    padding: 2px 8px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
    background-color: #d0d0d0;
    color: black;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#aboutButton:hover {
    background-color: #b0b0b0;
}

/* Estilo do bloco de resultados */
#results {
    margin-top: 20px;
    width: 60%; /* Diminui a largura */
    max-width: 500px; /* Largura máxima reduzida */
    background-color: #FFFACD; /* Amarelo claro */
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Padding menor */
    display: none; /* Oculto inicialmente */
}

/* Estilo de cada item do resultado */
.result-item {
    padding: 10px 0; /* Padding reduzido */
    border-bottom: 1px solid #ccc; /* Linha de separação entre os links */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remove a borda no último item */
.result-item:last-child {
    border-bottom: none;
}

/* Estilo do link */
.result-link {
    color: #00008B;
    text-decoration: none;
    font-size: 14px;
}

.result-link:hover {
    color: #8B0000; /* Cor vermelha ao passar o mouse */
}
