html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBar {
    width: 350px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchBar:focus {
    border-color: #000;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 211px;
}

#searchButton, #aboutButton {
    padding: 2px 8px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
    background-color: #d0d0d0;
    color: black;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #b0b0b0;
}

#aboutButton {
    padding: 2px 8px;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
    background-color: #d0d0d0;
    color: black;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#aboutButton:hover {
    background-color: #b0b0b0;
}

#results {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.result-item .result-content {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.result-item .result-text {
    font-weight: bold;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta o texto que ultrapassa o limite do bloco */
    text-overflow: ellipsis; /* Adiciona reticências quando o texto é muito longo */
    flex-shrink: 0; /* Impede que o texto encolha */
}

.result-item .result-link {
    text-decoration: none;
    color: #00008B;
}

.result-item .result-link:hover {
    color: #8B0000;
}
