html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; 
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    background-color: #111; /* Cor de fundo mais escura */
    border: 1px solid #333; /* Adiciona uma borda para um visual mais antigo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para um efeito mais profundo */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0; /* Adiciona espaço entre parágrafos */
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #555; /* Borda mais espessa para um visual mais antigo */
    border-radius: 5px; /* Borda arredondada para um efeito mais clássico */
    cursor: pointer;
    background-color: #222; /* Cor de fundo mais escura */
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona um efeito de transformação ao hover */
}

a:hover {
    background-color: #444; /* Cor de fundo alterada ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

.key-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0; /* Adiciona espaço ao redor do container */
}

.key {
    font-family: monospace;
    max-width: 300px;
    word-wrap: break-word;
}

.key-container img {
    width: 30px;
    height: 30px;
}
