html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Arial, sans-serif; /* Fonte ajustada para Arial */
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    transform: scale(0.80); /* Ajusta o tamanho do conteúdo */
}

.container {
    width: 80%;
    max-width: 700px;
    padding: 20px;
    padding-top: 40px; /* Espaço adicional no topo para o botão */
    border-radius: 5px;
    background-color: #111;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #444;
    transform: scale(1.05);
}

.key-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.key {
    font-family: monospace;
    max-width: 300px;
    word-wrap: break-word;
}

.key-container img {
    width: 24px;
    height: 24px;
}
